.narrow-content {
	margin: 0 auto;
	padding-left: 6%;
	padding-right: 6%;
}

.research-content {
	margin: 0 auto;
	padding-left: 3%;
	padding-right: 3%;
}

.research-content ul li {
	text-align: center;
	display: inline-block;
	font-weight: bold;
	width: 200px;
	margin: 10px 15px 10px 15px;
}

.project-list {
	padding-left: 90px;
}

.modal-title {
	font-weight: bold;
}

.sub-label {
	font-weight: bold;
	color: #5b5b5b;
}

#my-name {
	text-decoration: underline;
}

.exp-photo {
	padding-top: 20px;
}
.exp-photo ul li {
	display: inline-block;
	width: 200px;
	margin: 10px 10px 10px 10px;
}


